
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    scroll-behavior: smooth;
    /* font-family: "Bebas Neue", sans-serif; */
}
body{
    /* font-family: 'Open Sans', sans-serif; */
}
.background-home{
    background-image: url(../images/fashion-portrait-young-elegant-woman.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.overlay{
    background-color: rgb(69 28 28); 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}
.navbar .navbar-nav .nav-item a{
    color: white;
    font-size: 20px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bolder;
}
.description-home{
    position: relative;
    text-align: center;
    top: 60%;
}
.description-home p{
    font-size: 40px;
    font-weight: bold;
}
.description-home  button{
    padding: 15px 35px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: 20px;

}
.description-home .description-p, .description-h{
    color: white;
}
/*Category start here*/
.brand-category{
position: relative;
}
.brand-category img{
    width: 100%;
}